extends ../layout

block content
  .row
    .span8
      img(src="/uploads/#{item._id}/full.png", alt=item.name)
    .span4
      h1.display-data #{item.name}
      p #{item.reason}

      .form-actions
        a.btn.btn-warning(href="/item") Back
        | 
        a.btn.btn-primary(href="/item/" + item._id + "/edit") Edit
        | 
        a.btn.btn-danger(href="/item/" + item._id + "/delete") Delete