extends ../layout
include ../mixins/form-helpers

block content
  form#item-form.form-horizontal(action="/items/" + item._id + "/edit", method="POST")
    fieldset
      legend Edit #{item.name}

      .control-group
        mixin label("name", "Name")        
        .controls
          mixin text("name", item.name)
          mixin errorMessage('item', 'name')
      .control-group
        mixin label("reason", "Reason")        
        .controls
          mixin textarea("reason", item.reason)
          mixin errorMessage('item', 'reason')

    .form-actions
      a.btn.btn-warning(href="/") Back
      | 
      input.btn.btn-primary(type="submit", value="Save")
