extends ../layout

block content
  h2.display-data All Items
    a.btn.btn-primary.pull-right(href="/new") Create a new Verwurf

  .row
    each item in items
      .span4
        a(href="/item/#{item._id}")
          img(src="/uploads/#{item._id}/full.png")