extends ../layout
include ../mixins/form-helpers

block content

  form#item-form.form-horizontal(action="/items/create", method="POST")
    fieldset
      legend Create a new Item
    
      .control-group
        mixin label("name", "Name")        
        .controls
          mixin text("name", item.name)
          mixin errorMessage('item', 'name')
      .control-group
        mixin label("file", "File")        
        .controls
          mixin date("file", item.file)
          mixin errorMessage('item', 'file')
    .div(draggable="true")
      p drag your files here


    .form-actions
      a.btn.btn-warning(href="/items") Back
      | 
      input.btn.btn-primary(type="submit", value="Create")
